@charset "ISO-8859-1";
.main-content {
	min-height: 500px;
	max-width: 700px;
	margin-top: 70px;
}

.row {
	margin-top: 30px;
}

.list {
	max-width: 800px;
}

.form {
	max-width: 450px;
}

.table th, td {
	text-align: center;
}

.field-error {
	border-color: #ff0000;
	margin-bottom: 10px;
}